<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="isFieldInvalid('email')">
      {{ getFieldError('email') }}
    </div>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="password"></ion-input>
      <ion-button fill="clear" slot="end" (click)="togglePasswordVisibility()" type="button">
        <ion-icon [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
      </ion-button>
    </ion-item>
    <div class="error-message" *ngIf="isFieldInvalid('password')">
      {{ getFieldError('password') }}
    </div>
    <ion-item lines="none">
      <ion-checkbox formControlName="rememberMe" slot="start"></ion-checkbox>
      <ion-label>Lembrar de mim</ion-label>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="isLoading">Entrar</ion-button>
    <ion-button expand="block" fill="outline" (click)="signInWithGoogle()" [disabled]="isLoading" type="button">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Entrar com Google
    </ion-button>
    <ion-button fill="clear" size="small" (click)="navigateToForgotPassword()" type="button">Esqueceu a senha?</ion-button>
    <ion-button fill="clear" size="small" (click)="navigateToRegister()" type="button">Criar conta</ion-button>
  </form>
</ion-content>

