<ion-header>
  <ion-toolbar>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="isFieldInvalid('name')">
      {{ getFieldError('name') }}
    </div>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="isFieldInvalid('email')">
      {{ getFieldError('email') }}
    </div>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="password"></ion-input>
      <ion-button fill="clear" slot="end" (click)="togglePasswordVisibility()" type="button">
        <ion-icon [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
      </ion-button>
    </ion-item>
    <div class="error-message" *ngIf="isFieldInvalid('password')">
      {{ getFieldError('password') }}
    </div>
    <ion-item>
      <ion-label position="floating">Confirmar Senha</ion-label>
      <ion-input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword"></ion-input>
      <ion-button fill="clear" slot="end" (click)="toggleConfirmPasswordVisibility()" type="button">
        <ion-icon [name]="showConfirmPassword ? 'eye-off' : 'eye'"></ion-icon>
      </ion-button>
    </ion-item>
    <div class="error-message" *ngIf="isFieldInvalid('confirmPassword') || isFormInvalid('passwordMismatch')">
      {{ getFieldError('confirmPassword') }}
    </div>
    <ion-item lines="none">
      <ion-checkbox formControlName="acceptTerms" slot="start"></ion-checkbox>
      <ion-label>Eu aceito os termos de uso</ion-label>
    </ion-item>
    <div class="error-message" *ngIf="isFieldInvalid('acceptTerms')">
      {{ getFieldError('acceptTerms') }}
    </div>
    <ion-button expand="block" type="submit" [disabled]="isLoading">Registrar</ion-button>
    <ion-button fill="clear" size="small" (click)="navigateToLogin()" type="button">Já tem conta? Entrar</ion-button>
  </form>
</ion-content>

