<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Senha</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="isFieldInvalid('email')">
      {{ getFieldError('email') }}
    </div>
    <ion-button expand="block" type="submit" [disabled]="isLoading">Enviar Link de Recuperação</ion-button>
    <ion-button fill="clear" size="small" (click)="navigateToLogin()" type="button">Voltar ao Login</ion-button>
  </form>
</ion-content>

